h1{
    color: yellow;
    font-family: Times;
    font-size: 120px ;
    margin-top: 100px ;
}

body {
    background-image: url('../img/fondoPantalla.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    color: yellow !important;
}